.Cart_Main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Cart_Title{

    display: grid;
    place-items: center;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 2px;
}

body.light .Cart_Title {
  color:rgb(0, 66, 66);
}

body.dark .Cart_Title {
  color: aliceblue;
}

.Cart_Subtitle{

    display: grid;
    place-items: center;
    margin-bottom: 10px;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 1px;
}

body.light .Cart_Subtitle {
  color:rgb(0, 0, 0);
}

body.dark .Cart_Subtitle {
  color: rgb(146, 143, 143);
}

.cart_img{
    width: 260px;
    height: 380px;
    border-radius: 10px;
    margin-right: 30px;
    margin-top: 15px;
  }
  table {
    height: 350px;
    width: 855px;
    border-collapse: collapse;
    -moz-osx-font-smoothing: grayscale;

  }

  body.light table {
    color:rgb(0, 0, 0);
  }
  
  body.dark table {
    color: aliceblue;
  }


  td {
    padding: 8px;
    text-align: left;
  }
  tr {
    border-bottom: 0.5px solid rgb(94, 92, 92);
  }
  tr:nth-child(even) {
    -moz-osx-font-smoothing: grayscale;
  }
  tr:hover{
    opacity: 0.5;
    cursor: pointer;
  }

  body.light tr:hover {
    background-color: rgb(0, 66, 66);
    color: white
  }
  
  body.dark tr:hover {
    background-color: rgb(73, 67, 67);
  }


.cart_desc {
    font-size: 28px;
   margin-left:100px;
   margin-top: 30px;
    font-family: 'Red Hat Display', sans-serif;
}

body.light .cart_desc {
  color: rgb(0, 0, 0)
}

body.dark .cart_desc {
  color: rgb(211, 211, 211);
}


.cart_desc2 {
  font-size: 28px;
 margin-left:100px;
  font-family: 'Red Hat Display', sans-serif;
}

body.light .cart_desc2 {
  color: rgb(0, 0, 0)
}

body.dark .cart_desc2 {
  color: rgb(211, 211, 211);
}

.over_desc{

  font-family: 'Red Hat Display', sans-serif;
  max-width: 1000px;
  margin-left: 100px;
  margin-top: 7px;
  letter-spacing: 1px;
}

body.light .over_desc {
  color: rgb(0, 66, 66)
}

body.dark .over_desc {
  color: wheat;
}

.main_descrip{
  display: flex;
  flex-direction: column;
}

.video { 
  width: 85%;
  height: 500px;
  margin-left: 100px;
  margin-top: 30px;
}

.advert_spr{
   display: flex;
   flex-direction: column;
   align-items: center; 
   margin-top: 35px;
}

.insta_advert {
   width: 85%;
   height: 250px;
   margin-top:5px;
   background-color:#F0E7D6;
   display: flex;
   justify-content:space-between;
}
.img_style{
  margin-top: 5px;
  width: 600px;
  height: 350px;
}

.insta_desc{
  margin-left: 30px;
  margin-top: 30px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

.insta_title{
  margin-left: 30px;
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  color:#536872;
}
.subscribe_btn {
   width: 200px;
   height: 55px;
   border-radius: 20px;
   background-color:#004242;
   margin-left: 30px;
   margin-top: 40px;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
}

.inst_href{
 color: aqua;
 text-decoration: none;
}
.instagram { 
  font-size: 230px;
  color: silver;
  padding: 10px 70px 10px 70px;
}