
body {
    background-color:#151617;
    margin: 0;
    padding: 0;
  }
  
.main_menu{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgb(73, 67, 67);
    width: 100%;
    position: fixed;
    z-index: 999;
}
.menu_list{
    margin: 10px 0 0 20px ;
}
.menu_link{
    text-decoration: none;
    background-color: rgb(73, 67, 67);
    display: inline-block;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    color: aliceblue;
    border-bottom: 5px solid rgb(73, 67, 67);
    font-family: 'Poppins', sans-serif;

}
.menu_link:hover{
    transition: 0.5s;
    background-color: rgb(88, 81, 81);
    border-bottom: 5px solid rgb(0, 66, 66);
}
.menu_logo{
    width: 120px;
    height: 60px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
}

.menu_logo:hover{
    opacity: 0.5;
    transition: 0.2s;
}

.search_logo{
    width: 25px;
    height: 25px;
    background-color: rgb(32, 30, 30);
    color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    font-size: 27px;
    border-radius: 10px;
    padding: 8px;
    margin: 0 20px 0 20px;
    cursor: pointer;
}

.search_logo:hover{
    opacity: 0.6;
    transition: 0.3s;
}
