.slider-button1 {
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);
  }
  
  .slider-button2 {
    position: absolute;
    top: 40%;
    right: 8%;
    transform: translateY(-50%);
  }

  .button{
    width: 190px;
    height: 55px;
    font-size: 20px;
    background-color:#31c469;;
    border: none;
    border-radius: 10px;
    cursor: pointer;
   margin: -90px 0 0 150px;
   position: absolute;
   color: white;
   font-family: 'Poppins', sans-serif;
  }